# OpenSSL configuration file for use with the `openssl req` command.
# Full documentation in `man 1 req` under "configuration file format".
# Configuration format documentation in `man 5 config`.
#
# More comments in config/root/req.config.
#
# vi:syntax=dosini

[ req ]
utf8   = yes
prompt = no

default_md = sha512

# Names of sections below.
distinguished_name = req_dn
attributes         = req_attrib
req_extensions     = req_ext

[ req_dn ]
# Clients may ignore this in favor of SANs, so put it both places.
commonName = www.example.com

[ req_attrib ]
# Attributes are only needed for specific, uncommon cases.

[ req_ext ]
# Full documentation in `man 5 x509v3_config`.
# `@sans` refers to `sans` section below.
subjectAltName = @sans

[ sans ]
# Each item needs a unique name due to how this file is parsed, hence the `.1`,
# `.2`, etc. These suffixes are effectively ignored.
DNS.1 = www.example.com
DNS.2 = example.com
IP.1 = 127.0.0.1
